@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

@import url(' https://fonts.cdnfonts.com/css/samsungone ');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'SamsungOne', sans-serif;



}

h1 {


    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {

    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;

    box-shadow: 2px 2px 10px rgba(0, 0, 1, 0.336);
    background-color: rgb(255, 255, 255);
    z-index: 999;

}

nav img {


    width: 150px;
    cursor: pointer;
}

nav .cabeçalho ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}


nav .cabeçalho li {


    list-style: none;
    margin-left: 30px;
}

nav .cabeçalho li a {


    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3 ease;
}


nav .cabeçalho li a:hover {


    color: rgb(206, 94, 3);
}

#inicio {

    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("i507695.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#inicio h2 {


    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#inicio p {

    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
    padding-top: 10px;
}

#inicio .btn {

    margin-top: 30px;
}

#inicio a {

    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;

}

#inicio a.btn2 {

    color: white;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#inicio a.btn2:hover {

    color: rgb(21, 21, 100);
    background: rgb(255, 255, 255);
}

#inicio a.btn3 {

    color: white;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#inicio a.btn3:hover {

    color: rgb(21, 21, 100);
    background: rgb(255, 255, 255);
}

#Caract {


    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#Caract p {

    padding-top: 5px;
}

#Caract .icons-caract {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 45px;

}

#Caract .icons {

    background: rgb(207, 240, 248);
    text-align: start;
}

#Caract .icons i {


    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#Caract .icons h3 {


    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(44, 44, 80);
    padding: 13px 0 7px 0;
}

#Caract .icons p {


    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 77);
    padding: 13px 0 7px 0;
}


#populares {

    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#populares .popular-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 45px;

}

#populares .cells {

    text-align: start;
    background: white;
    height: 100%;
    position: relative;
}

#populares .cells :hover {

    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;

}

#populares .cells img {


    width: 75%;
    height: 55%;
    background-size: cover;
    background-position: center;
    transition: 0.5s ease;

}

#populares .cells img :hover {

    width: 90%;
    height: 70%;
    background-size: cover;
    background-position: center;

}


#populares .cells .detalhes {

    padding: 15px 15px 0 15px;
}

#populares .cells i {

    color: blue;
    font-size: .9rem;
}

#populares .cells .cost {

    background-color: rgb(173, 25, 25);
    color: beige;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 200px;
    font-weight: 500;
}

#registro {

    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url("celular-na-black-friday.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#registro .reminder {

    color: white;

}

#registro .reminder h1 {

    color: white;

}

#registro .reminder .tempo {


    display: flex;
    margin-top: 40px;

}

#registro .reminder .tempo .date {

    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;

}

#registro .form {


    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0px 8px 0 rgba(31, 38, 135, 0.37);
    margin-left: 30px;
}

#registro .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgba(84, 80, 241);
    outline: none;

}

#registro .form .btn {

    margin-top: 20px;
}

#registro .form a.btn4 {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#registro .form a.btn4:hover {

    color: rgb(21, 21, 100);
    background: rgb(255, 255, 255);
}

footer {
    background-color: #000;
    padding: 40px;
    text-align: center;
    color: #888;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1 1 300px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.footer-column h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

#populares .detalhes h6 {

    padding-top: 3px;
}